.article {
    &_word {
        font-family: $primary-font; 
        font-weight: $secondary-weight;
        font-size: 48px;
        line-height: 56.25px;
        color: $primary-color;
        width: 730px;
        height: 112px;
        margin-top: 100px;
        padding-left: 61px;
    }
    &_par {
        font-family: $primary-font; 
        font-weight: $primary-weight;
        font-size: 28px;
        line-height: 41.35px;
        color: $main-color;  
        width: 387px;
        height: 164px;
        margin-left: 194px;
    }
    &_span {
        p {
            font-family: $primary-font; 
            font-weight: 400;
            font-size: 14px;
            line-height: 20.68px;
            color: $primary-color;
            padding-left: 6px;
        }
            display: flex;
            flex-direction: row;
            text-decoration: underline;
            margin-left: 194px;
            margin-top: 24px;
    }
    &_boxes {
        display: flex;
        flex-direction: column;
    }
        
    &_box {
        display: flex;
        flex-direction: row;
    }
    &_box-2 {
        display: flex;
        flex-direction: row;
    }
    &_btn {
        width: 510px;
        height: 112px;
        border: 1px solid black;
        font-family: $primary-font; 
        font-weight: $secondary-weight;
        font-size: 36px;
        line-height: 42.19px;
        color: $primary-color;
        // text-align: center;
        padding: 35px; 
        margin-left: 194px;
        margin-top: 28px;
        
    }
    &_btn_line {
        padding-left: 57px;
    }
}


.icon {
    width: 24px;
}
.article_block {
    &_img {
        width: 61px;
        height: 56px;
        margin-top: 101px;
        margin-left: 194px;
    }
    
}
.article_block_span {
    h2 {
        font-family: $primary-font; 
        font-weight: 500;
        font-size: 64px;
        line-height: 93.24px;
        color: $primary-color; 
    }
    h3 {
        font-family: $primary-font; 
        font-weight: 700;
        font-size: 32px;
        line-height: 37.5px;
        color: $primary-color; 
        width: 163px;
        height: 52px;
        background-color: #FAFF09;
        padding: 7px 10px 44px 7px ;
        margin-top: 10px;
        margin-left: 10px;
    }
    &_h3 {
        font-family: $primary-font; 
        font-weight: 700;
        font-size: 32px;
        line-height: 37.5px;
        color: $primary-color; 
        width: 163px;
        height: 52px;
        background-color: #FAFF09;
        padding: 7px 10px 44px 7px ;
        margin-top: 10px;
    }
    display: flex;
    flex-direction: row;
    margin-left: 111px;
}
