.header {
    background-image: url("../images/hero-img.png");
    max-width: 2180px;
    width: 100%;
    height: 1080px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_menu-icon {
    padding-left: 103px;
    cursor: pointer;
}

.navbar_logo-icon {
    padding-top: 52px;
    cursor: pointer;
}
.navbar_phone-icon {
    padding-right: 125px;
    cursor: pointer;
}
.main_word {
    font-family: $primary-font;
    font-weight: 300;
    font-size: 80px;
    line-height: 93.75px;
    text-align: center;
    color: #F2F2F2;
    margin-top: 322px;
}
.block {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block_but {
    display: flex;
    flex-direction: row;
    padding-top: 193px;
    gap: 50px;
}
.block_btn {
    width: 180px;
    height: 77px;
    border: 1px solid #C4C4C4;
    background: rgba(17, 17, 17, 0.60);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}
.block_btn:hover {
    font-size: 24px;
    width: 348px;
    transition: 0.5s;
}
.main_block {
    background-color: #F2F2F2;
    margin-top: 45px;
    margin-left: 40px;
    width: 96%;
    height: 272px;
    max-width: 1840px;
    display: flex;
    flex-direction: row;
}
.main_block-word {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: $basic-color;
    padding-top: 27px;
    padding-left: 108px;
}
.main_block-second-word {
    font-family: $primary-font; 
    font-weight: 400;
    font-size: 28px;
    line-height: 32.81px;
    color: $basic-color;
    padding-left: 112px;

}
.main_block-paragraph {
    font-family: $primary-font; 
    font-size: 18px;
    font-weight: 300;
    color: $basic-color;
    padding-left: 133px;
    width: 430px;
    padding-top: 16px;
}

