.footer {
    background-image: url(../images/black.png);
    width: 1431.5px;
    height: 1053px;
    margin-top: 103px;
        &_div {
            display: flex;
            flex-direction: row;
            padding-top : 523px;
            padding-left: 60px;
        &_items {
            display: flex;
            flex-direction: row;
            padding-left: 1183px;

        }
        &_item {
            width: 41px;
            height: 41px;
           margin-left: 23px;
           cursor: pointer;
        }
        }
        &_items {
            h2 {
        font-family: $primary-font; 
        font-weight: 700;
        font-size: 24px;
        line-height: 35.08px;
        color: #FAFF09;
        padding-top: 58px;
        padding-left: 60px;
        }
            p {
                font-family: $primary-font; 
                font-weight: $primary-weight;
                font-size: 18px;
                line-height: 26.31px;
                color: #F2F2F2;
                padding-top: 12px;
                
        }
        
        }
        &_item {
            margin-top: 29px;
            margin-left: 60px;
        }
        &_block {
            display: flex;  
            flex-direction:row ;
            margin-left: 144px;
        }
        &_logo {
            cursor: pointer;
        }
}