.section_block {
    background-image: url(../images/инт\ 1.png);
    width: 100%;
    max-width: 1920px;
    height: 787px;
    margin-top: 60px;
    h2 {
        font-family: $primary-font; 
        font-weight: $secondary-weight;
        font-size: 48px;
        line-height: 70.41px;
        color: #FFFFFF; 
        padding-top: 196px;
        margin-left: 560px;
    }
    &_div {
        padding-top: 106px;
        margin-left: 560px;
    }
}
.div_block {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    img {
    width: 20px;
    height: 20px;
    }
    h3 {
        font-family: $primary-font; 
        font-weight: $secondary-weight;
        font-size: 36px;
        line-height: 52.81px;
        color: #FFFFFF; 
        padding-left: 18px;
    }
}