// СТОИМОСТЬ ПРОЕКТА
.section_main-word {
    font-family: $primary-font; 
    font-weight: 300;
    font-size: 48px;
    line-height: 56.25px;
    color: #000000;
    padding-left: 61px;
    padding-top: 91px;
}
.section_span {
    padding-top: 20px;
}
.section_word {
    width: 1001px;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 48px;
    line-height: 56.25px;
    color: #000000;
    padding-top: 56px;
    padding-left: 203px;
}
.section_paragraph {
    font-family: $primary-font;
    font-weight: 300;
    font-size: 36px;
    line-height: 52.99px;
    color: #333333;
    width: 965px;
    padding-top: 48px;
    padding-left: 200px;
}
.section_btn {
    font-family: $primary-font;
    font-weight: 300;
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
    color: #FFF;
    background-color: #000000;
    width: 510px;
    height: 112px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 155px;
    margin-left: 200px;
}
.section {
    display: flex;
    flex-direction: row;
}
.section_div-2 {
    display: flex;
    flex-direction: column;
}
.section_div-image {
    margin-top: 239px;
    border-left: 1px     solid #E0E0E0 ;
}

.section_rectangle {
    display: none;
}
.section-2_word {
    font-family: $primary-font; 
    font-weight: 400;
    font-size: 36px;
    line-height: 52.99px;
    color: #000000;
    padding-left: 77px;
    padding-top: 34px;
}    

.section_box-word {
    font-family: $primary-font; 
    font-weight: 300;
    line-height: 52.99px;
    font-size: 36px;
    color: $primary-color;
    width: 403px;
    border-bottom: 1px  solid  #E0E0E0;
    border-left: 1px solid #E0E0E0 ;
}
.section_box-word-2 {
    font-family: $primary-font; 
    font-weight: 300;
    line-height: 52.99px;
    font-size: 36px;
    color: $primary-color;
    width: 527px;
    padding-top: 27px;
    border-left: 1px solid #E0E0E0 ;
}

