@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 2180px;
  width: 100%;
  height: 1080px;
  padding: 0 16px;
  margin: 0 auto;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
.header {
  background-image: url("../images/hero-img.png");
  max-width: 2180px;
  width: 100%;
  height: 1080px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu-icon {
  padding-left: 103px;
  cursor: pointer;
}

.navbar_logo-icon {
  padding-top: 52px;
  cursor: pointer;
}

.navbar_phone-icon {
  padding-right: 125px;
  cursor: pointer;
}

.main_word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 80px;
  line-height: 93.75px;
  text-align: center;
  color: #F2F2F2;
  margin-top: 322px;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block_but {
  display: flex;
  flex-direction: row;
  padding-top: 193px;
  gap: 50px;
}

.block_btn {
  width: 180px;
  height: 77px;
  border: 1px solid #C4C4C4;
  background: rgba(17, 17, 17, 0.6);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.block_btn:hover {
  font-size: 24px;
  width: 348px;
  transition: 0.5s;
}

.main_block {
  background-color: #F2F2F2;
  margin-top: 45px;
  margin-left: 40px;
  width: 96%;
  height: 272px;
  max-width: 1840px;
  display: flex;
  flex-direction: row;
}

.main_block-word {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #0E0E0E;
  padding-top: 27px;
  padding-left: 108px;
}

.main_block-second-word {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.81px;
  color: #0E0E0E;
  padding-left: 112px;
}

.main_block-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #0E0E0E;
  padding-left: 133px;
  width: 430px;
  padding-top: 16px;
}

.section_main-word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 56.25px;
  color: #000000;
  padding-left: 61px;
  padding-top: 91px;
}

.section_span {
  padding-top: 20px;
}

.section_word {
  width: 1001px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56.25px;
  color: #000000;
  padding-top: 56px;
  padding-left: 203px;
}

.section_paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 52.99px;
  color: #333333;
  width: 965px;
  padding-top: 48px;
  padding-left: 200px;
}

.section_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  color: #FFF;
  background-color: #000000;
  width: 510px;
  height: 112px;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 155px;
  margin-left: 200px;
}

.section {
  display: flex;
  flex-direction: row;
}

.section_div-2 {
  display: flex;
  flex-direction: column;
}

.section_div-image {
  margin-top: 239px;
  border-left: 1px solid #E0E0E0;
}

.section_rectangle {
  display: none;
}

.section-2_word {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 52.99px;
  color: #000000;
  padding-left: 77px;
  padding-top: 34px;
}

.section_box-word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 52.99px;
  font-size: 36px;
  color: #000000;
  width: 403px;
  border-bottom: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
}

.section_box-word-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 52.99px;
  font-size: 36px;
  color: #000000;
  width: 527px;
  padding-top: 27px;
  border-left: 1px solid #E0E0E0;
}

.box_word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 56.25px;
  font-size: 48px;
  color: #000000;
  margin-top: 90px;
}

.box_block {
  display: flex;
  flex-direction: column;
}

.box_spot {
  width: 20px;
  height: 20px;
  margin-top: 42px;
}

.box_image {
  margin-top: 52px;
  width: 437px;
  height: 487px;
}

.box_words {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 56.25px;
  font-size: 48px;
  color: #0E0E0E;
  padding-top: 7px;
}

.box_paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 26.49px;
  font-size: 18px;
  color: #4F4F4F;
  width: 383px;
  padding-top: 23px;
}

.box_blocks {
  display: flex;
  flex-direction: row;
  margin-left: 86px;
}

.main_box-word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 56.25px;
  font-size: 48px;
  color: #000000;
  padding-top: 49px;
  padding-left: 61px;
}

.main_box_block_word {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.81px;
  color: #000000;
  padding-top: 18px;
}
.main_box_block_par {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.13px;
  color: #4F4F4F;
  padding-top: 13px;
}
.main_box_block_paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  color: #333333;
  padding-top: 13px;
}

.main_box_blocks {
  display: flex;
  flex-direction: row;
  margin-left: 84px;
}
.main_box_block-2 {
  display: flex;
  flex-direction: row;
  margin-left: 84px;
  margin-top: 50px;
}
.main_box_button {
  width: 273px;
  height: 66px;
  border: 1px solid;
  background-color: #000000;
  color: white;
  text-align: center;
  margin-left: 823px;
  cursor: pointer;
}

.shadow {
  position: absolute;
  top: 3346px;
  left: 1152px;
  width: 776px;
  height: 857px;
}

.shadow_image {
  width: 576px;
  height: 657px;
}

.article_word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 56.25px;
  color: #000000;
  width: 730px;
  height: 112px;
  margin-top: 100px;
  padding-left: 61px;
}
.article_par {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 41.35px;
  color: #4F4F4F;
  width: 387px;
  height: 164px;
  margin-left: 194px;
}
.article_span {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  margin-left: 194px;
  margin-top: 24px;
}
.article_span p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20.68px;
  color: #000000;
  padding-left: 6px;
}
.article_boxes {
  display: flex;
  flex-direction: column;
}
.article_box {
  display: flex;
  flex-direction: row;
}
.article_box-2 {
  display: flex;
  flex-direction: row;
}
.article_btn {
  width: 510px;
  height: 112px;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42.19px;
  color: #000000;
  padding: 35px;
  margin-left: 194px;
  margin-top: 28px;
  cursor: pointer;
}
.article_btn_line {
  padding-left: 57px;
}

.icon {
  width: 24px;
}

.article_block_img {
  width: 61px;
  height: 56px;
  margin-top: 101px;
  margin-left: 194px;
}

.article_block_span {
  display: flex;
  flex-direction: row;
  margin-left: 111px;
}
.article_block_span h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 93.24px;
  color: #000000;
}
.article_block_span h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 37.5px;
  color: #000000;
  width: 163px;
  height: 52px;
  background-color: #FAFF09;
  padding: 7px 10px 44px 7px;
  margin-top: 10px;
  margin-left: 10px;
}
.article_block_span_h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 37.5px;
  color: #000000;
  width: 163px;
  height: 52px;
  background-color: #FAFF09;
  padding: 7px 10px 44px 7px;
  margin-top: 10px;
}

.section_block {
  background-image: url(../images/инт\ 1.png);
  width: 100%;
  max-width: 1920px;
  height: 787px;
  margin-top: 60px;
}
.section_block h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 70.41px;
  color: #FFFFFF;
  padding-top: 196px;
  margin-left: 560px;
}
.section_block_div {
  padding-top: 106px;
  margin-left: 560px;
}

.div_block {
  display: flex;
  flex-direction: row;
  margin-top: 17px;
}
.div_block img {
  width: 20px;
  height: 20px;
}
.div_block h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 52.81px;
  color: #FFFFFF;
  padding-left: 18px;
}

.instagram_block_div {
  display: flex;
  flex-direction: column;
}
.instagram_block_div_images {
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  padding-top: 20px;
}
.instagram_block_div_img {
  width: 417px;
  height: 417px;
  padding-left: 18px;
}

.instagram_img {
  width: 255.18px;
  height: 72.39px;
  margin-left: 100px;
  margin-top: 92px;
}

.footer {
  background-image: url(../images/black.png);
  width: 1431.5px;
  height: 1053px;
  margin-top: 103px;
}
.footer_div {
  display: flex;
  flex-direction: row;
  padding-top: 523px;
  padding-left: 60px;
}
.footer_div_items {
  display: flex;
  flex-direction: row;
  padding-left: 1183px;
}
.footer_div_item {
  width: 41px;
  height: 41px;
  margin-left: 23px;
  cursor: pointer;
}
.footer_items h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35.08px;
  color: #FAFF09;
  padding-top: 58px;
  padding-left: 60px;
}
.footer_items p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.31px;
  color: #F2F2F2;
  padding-top: 12px;
}
.footer_item {
  margin-top: 29px;
  margin-left: 60px;
}
.footer_block {
  display: flex;
  flex-direction: row;
  margin-left: 144px;
}
.footer_logo {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */